<!--create.ejs-->
<form action="/token/create" method="POST">
    <div class="form-group">
        <label>Type</label>
            <select required  class="form-control" name="Token[type]">
                <option value="">Please select one:</option>
                <option value="oneFree">One hour free parking</option>
                <option value="twoFree">Two hours free parking</option>
                <option value="threeFree">Three hours free parking</option>
            </select>
        </div>

    <div class="form-group">
            <label>Shopping Mall</label>
        <select required  class="form-control" name="Token[mall]">
            <option value="">Please select one:</option>    
            <% malls.forEach( function(model) { %>
                <option value=<%= model.name%>><%= model.name%></option>
                <% }); %>
            </select>
        </div>
  
    <div class="form-group">
            <label>Coupon Name</label>
            <input type="text" class="form-control" name="Token[name]">
        </div>
        

    <div class="form-group">
        <label>Points</label>
        <input type="text" class="form-control" name="Token[point]">
    </div>

    <div class="form-group">
        <label>Valid Date From: </label>
                        <div class="input-group date" data-provide="datepicker" data-date-start-date="+0d">
                            <input type="text" class="form-control" name="Token[validFrom]" max: "01/01/2100">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
    </div>


    <div class="form-group">
        <label>Valid To</label>
        <input type="text" class="form-control" name="Token[validFrom]">
    </div>

    <div class="form-group">
        <label>Coupon Image</label>
        <input type="text" class="form-control" name="Token[image]">
    </div>

    <div class="form-group">
        <label>Details</label>
        <input type="text" class="form-control" name="Token[detail]">
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
</form>


<script type="text/javascript">

    window.onload = function () {
        $('#datepicker').datepicker({
            format: 'mm/dd/yyyy'
        });
    }
    </script>