<!--create.ejs-->
<form action="/mall/create" method="POST">
    <div class="row">
    <div class="col-xs-6 col-sm-6">
        <div class="form-group">
            <label>District</label>
            <select required  class="form-control" name="Mall[district]">
                <option value="">Please select one:</option>
                <option value="Kowloon">Kowloon</option>
                <option value="HK Island">HK Island</option>
                <option value="New Territories">New Territories</option>
            </select>
      
            <label>Shopping Mall</label>
            <input type="text" class="form-control" name="Mall[mallName]">

            <label>Address</label>
            <input type="text" class="form-control" name="Mall[address]">

            <label>Contact</label>
            <input type="text" class="form-control" name="Mall[contact]">

            <label>Latitude]</label>
            <input type="text" class="form-control" name="Mall[latitude]">

            <label>Longitude</label>
            <input type="text" class="form-control" name="Mall[longitude]">

            <label>Details</label>
            <textarea rows="4" type="text" class="form-control" name="Mall[detail]"></textarea>

            <label>Poster</label>
             <input type="text" class="form-control" name="Mall[poster]">
        </div>
    </div>

    <div class="col-xs-6 col-sm-6">
        <div class="form-group">
            <p><b><label>Create a Mall Account</label></b></p>
            <label>Username</label>
            <input required type="text" class="form-control" name="User[username]">
        
            <label>Password</label>
            <input required type="text" class="form-control" name="User[password]">
    
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>
</form>