<!--create.ejs-->
<form action="/mall/create" method="POST" onsubmit="return submitForm(this);">
    <div class="row">
    <div class="col-xs-6 col-sm-6">
        <div class="form-group">
            <label>District</label>
            <select required  type="text" class="form-control" name="Mall[district]">
                <option value="">Please select one:</option>
                <option value="Kowloon">Kowloon</option>
                <option value="Hong Kong Island">Hong Kong Island</option>
                <option value="New Territories">New Territories</option>
            </select>
      
            <label>Shopping Mall</label>
            <input required type="text" class="form-control" name="Mall[mallName]">

            <label>Address</label>
            <input required type="text" class="form-control" name="Mall[address]">

            <label>Contact</label>
            <input required type="number" class="form-control" name="Mall[contact]">

            <label>Latitude</label>
            <input required type="number" step="any" class="form-control" name="Mall[latitude]">

            <label>Longitude</label>
            <input required  type="number" step="any" class="form-control" name="Mall[longitude]">

            <!-- <label>Details</label>åype="text" class="form-control" name="Mall[detail]"></textarea> -->

            <label>Poster</label>
             <input required type="text" class="form-control" name="Mall[poster]">
        </div>
    </div>

    <div class="col-xs-6 col-sm-6">
        <div class="form-group">
            <p><b><label>Create a Mall Account</label></b></p>
            <label>Username</label>
            <input required type="text" class="form-control" name="User[username]">
        
            <label>Password</label>
            <input required type="text" class="form-control" name="User[password]">
    
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>
</form>

<script>
    function submitForm(oFormElement) {
        var customFormData = "";
        Object.keys(oFormElement).forEach(function (data) {
            customFormData += encodeURI(oFormElement[data].name) + "=" + encodeURI(oFormElement[data].value) + "&";
        })

        var xhr = new XMLHttpRequest();
        xhr.onload = function () {
            if (xhr.responseText == "create successfully") {
                alert(xhr.responseText);
                // location.reload(true);
                window.location = "/mall/index";
            }
            else {
                alert(xhr.responseText);
            }
        }

        xhr.open(oFormElement.method, oFormElement.action, true);
        xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhr.send(customFormData + "a");
        return false;
    }
</script>