<form action="/user/login" method="POST"  onsubmit="return submitForm(this);">
    
    <div class="form-group">
        <label for="exampleInputEmail1">User name</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter username" name="username">
    </div>
    
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
    </div>
    
    <button type="submit" class="btn btn-primary">Sign in</button>
</form>

<script>
      function submitForm(oFormElement) {
        var customFormData = "";
        Object.keys(oFormElement).forEach(function (data) {
            customFormData += encodeURI(oFormElement[data].name) + "=" + encodeURI(oFormElement[data].value) + "&";
        })

        var xhr = new XMLHttpRequest();
        xhr.onload = function () {
            if (xhr.responseText == "Logined") {
                alert(xhr.responseText);
                // location.reload("/user/home");
                window.location = "/user/home";
            }
            else {
                alert(xhr.responseText);
            }
        }

        xhr.open(oFormElement.method, oFormElement.action, true);
        xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhr.send(customFormData + "a");
        return false;
    }
    </script>