<html>
    <head>
         <form action="/shop/addPoint" method="POST">
        <b><titile>QR code Scanner</titile></b>
        <script type="text/javascript" src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
        </head>

        <body>
        <div class="row">
            <div class="col-xs-4 col-sm-8">
                <p><video id="preview"></video></p>
            </div>
                  
            
            <div class="col-xs-4 col-sm-4">
                <div class="form-group">

                        <label>Shopping Mall: </label>
                        <input type="text" class="form-control" name="PointRecord[mallName]" value="<%=mallName%>">

                        <label>Shop ID: </label>
                        <input type="number" class="form-control" name="PointRecord[shopId]" value="<%=shopuid%>">

                        <label> ShopName: </label>
                        <input type="text" class="form-control" name="PointRecord[shopName]" value="<%=shopName%>">


                    <label>User ID: </label>
                    <input type="number" class="form-control" name="PointRecord[userId]" id="userId">
                
                    <label>QR Code Generation time: </label>
                    <input type="text" class="form-control" name="PointRecord[genTime]" id="genTime">

                    <label>Consumption:</label>
                    <input type="number" class="form-control" name="PointRecord[consumption]" id="consumption" min=1>
        
                    <label>Point: </label>
                    <input type="number" class="form-control" name="PointRecord[point]" id="point">
                    
                </div>
                <button type="submit" class="btn btn-primary">Add point</button>
            </div>
        </div>
            

            <script>
            let scanner = new Instascan.Scanner(
            {
                video: document.getElementById('preview')
            }
            );

            scanner.addListener('scan',function(content){
                // alert(content)
                console.log(content)
                splitContent = function (content) {
                    var string = content.trim().split(";");
                    document.getElementById("userId").value = string[0] ;
                    document.getElementById("genTime").value = string[1];
                };
                splitContent(content);
            });


            Instascan.Camera.getCameras().then(cameras => 
            {                
                if(cameras.length > 0){
                    scanner.start(cameras[0])
                }else{
                    console.error("No camera")
                }
            })

            var consumption = document.getElementById("consumption");
            consumption.addEventListener("change", function() {
                if(consumption.value > 0 )
                {
                    var point =  parseInt(consumption.value/100)
                    document.getElementById("point").value = point
                }
            });


            </script>
        </body>
        </html>