<html>
    <head>
         <form action="/shop/addPoint" method="POST"  onsubmit="return submitForm(this);">
        <b><titile>QR code Scanner</titile></b>
        <script type="text/javascript" src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
        </head>

        <body>
        <div class="row">
            <div class="col-xs-4 col-sm-8">
                <p><video id="preview"></video></p>
            </div>
                  
            
            <div class="col-xs-4 col-sm-4">
                <div class="form-group">

                        <label>Shopping Mall: </label>
                        <input disabled required type="text" class="form-control" name="Shopping[mallName]" value="<%=mallName%>">

                        <label>Shop ID: </label>
                        <input disabled required type="text" class="form-control" name="Shopping[shopId]" value="<%=shopuid%>">

                        <label> ShopName: </label>
                        <input disabled required type="text" class="form-control" name="Shopping[shopName]" value="<%=shopName%>">


                    <label>User ID: </label>
                    <input required type="text" class="form-control" name="Shopping[uid]" id="uid">
                
                    <label>QR Code Generation time: </label>
                    <input required type="text" class="form-control" name="Shopping[genTime]" id="genTime">

                    <label>Consumption:</label>
                    <input required type="number" step="0.01" class="form-control" name="Shopping[consumption]" id="consumption" min=1>
        
                    <label>Point: </label>
                    <input required type="number" class="form-control" name="Shopping[gainedPoint]" id="gainedPoint">
                    
                </div>
                <button type="submit" class="btn btn-primary">Add point</button>
            </div>
        </div>
            

            <script>

    function submitForm(oFormElement) {
        var customFormData = "";
        Object.keys(oFormElement).forEach(function (data) {
            customFormData += encodeURI(oFormElement[data].name) + "=" + encodeURI(oFormElement[data].value) + "&";
        })

        var xhr = new XMLHttpRequest();
        xhr.onload = function () {
            if (xhr.responseText == "Added") {
                alert(xhr.responseText);
                location.reload(true);
                // window.location = "/shop/index";
            }
            else {
                alert(xhr.responseText);
                location.reload(true);
            }
        }

        xhr.open(oFormElement.method, oFormElement.action, true);
        xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhr.send(customFormData + "a");
        return false;
    }    

            let scanner = new Instascan.Scanner(
            {
                video: document.getElementById('preview')
            }
            );

            scanner.addListener('scan',function(content){
                splitContent = function (content) {
                    var string = content.trim().split(";");
                    console.log(string)
                    var genTime = new Date(string[1]).toLocaleString();
                    var currentTime = new Date().toLocaleString();
                    var time1 = new Date(genTime);
                    var time2 = new Date(currentTime);
                    var  diff = (time2 - time1)/1000 /60 ;

                    if ( diff >= 15 ) {
                        document.getElementById("uid").value = " " ;
                        document.getElementById("genTime").value = " ";
                        alert("Invalid Qr code. Please Refreash.");
                    }else{
                        document.getElementById("uid").value = string[0];
                        document.getElementById("genTime").value = string[1];
                    }
                };
                splitContent(content);

            });

            Instascan.Camera.getCameras().then(cameras => 
            {                
                if(cameras.length > 0){
                    scanner.start(cameras[0])
                }else{
                    console.error("No camera")
                }
            })

            var consumption = document.getElementById("consumption");
            consumption.addEventListener("change", function() {
                if(consumption.value > 0 )
                {
                    var point =  parseInt(consumption.value/100)
                    document.getElementById("gainedPoint").value = point
                }
            });

            

            </script>
        </body>
        </html>