<html>
    <head>
         <form action="/carpark/parking" method="POST" onsubmit="return submitForm(this);">

        <body>
        <div class="row">
                <div class="col-xs-4 col-sm-8">
                        <p id="msg"></p>
                    </div>

            <div class="col-xs-4 col-sm-4">
                <div class="form-group">

                        <label>Shopping Mall: </label>
                        <input required type="text" class="form-control" name="ParkingRecord[mallName]" value="<%=mallName%>">

                        <label>Shop ID: </label>
                        <input required type="number" class="form-control" name="ParkingRecord[mallId]" value="<%=mallId%>">

                        <label>license Plate:</label>
                        <input required type="text" class="form-control" name="ParkingRecord[licensePlate]">
                        <div class='upload'>Test</div>
                    
                </div>
                <button type="submit" class="btn btn-primary">Enter carpark</b
                    utton>
            </div>
        </div>
        </body>

        <script>

    function submitForm(oFormElement) {
        var customFormData = "";
        Object.keys(oFormElement).forEach(function (data) {
            customFormData += encodeURI(oFormElement[data].name) + "=" + encodeURI(oFormElement[data].value) + "&";
        })

        var xhr = new XMLHttpRequest();
        xhr.onload = function () {
            if (xhr.responseText == "This car Entered") {
                location.reload(true);
                document.getElementById("msg").innerHTML = xhr.responseText ;
                // alert(xhr.responseText);
            }
            else {
                document.getElementById("msg").innerHTML = xhr.responseText ;
                // alert(xhr.responseText);
            }
        }

        xhr.open(oFormElement.method, oFormElement.action, true);
        xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhr.send(customFormData + "a");
        return false;
    }  
 </script>
    