<html>
    <head>
         <form action="/carpark/parking" method="POST">

        <body>
        <div class="row">
                <div class="col-xs-4 col-sm-8">
 
                    </div>

            <div class="col-xs-4 col-sm-4">
                <div class="form-group">

                        <label>Shopping Mall: </label>
                        <input required type="text" class="form-control" name="ParkingRecord[mallName]" value="<%=mallName%>">

                        <label>Shop ID: </label>
                        <input required type="number" class="form-control" name="ParkingRecord[mallId]" value="<%=mallId%>">

                        <label>license Plate:</label>
                        <input required type="text" class="form-control" name="ParkingRecord[licensePlate]">
                        <div class='upload'>Test</div>
                    
                </div>
                <button type="submit" class="btn btn-primary">Enter carpark</b
                    utton>
            </div>
        </div>
        </body>

        <script>
 </script>
    